html:not(.designer) body.sidebarVisible{
    width: 100%;
    padding: 0 1rem!important;
}
html:not(.designer) span[name*="SignUpTitle"] span[name="HeaderTitle"] {
    font-size: 2.5rem !important;
    color:var(--black);
    font-family: var(--regularFont);
}
html:not(.designer) span[name*="SignUpDescription"] span[name*="SubHeader"]{
    color:var(--description);
    font-size:1rem;
    font-family: var(--regularFont);
}
html:not(.designer) [name="SignUpButton"]{
    background-color:var(--orange)!important;
    border:none!important;
    box-shadow:none!important;
    font-family: var(--regularFont);
    color: white!important;
    min-height: unset;
    height: unset;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
}
html:not(.designer) .panel-body,
[name="SignUp.Form Area Item"]{
    background-color:transparent!important;
    box-shadow:none!important;
}
html:not(.designer) a#\30 0000000-0000-0000-0000-000000000000_4de18d52-c5f8-7dc5-7aaf-08b06c414f64{
    margin:1rem 0;
}
span#\38 d56ce58-bd47-8d4b-686a-e1c3db6d5a6c_ddfd82b9-fb42-e6dd-c8ec-bb14f3f30f36 {
    /* padding-bottom: 0; */
}
[name="LoginButton"]{
    background-color:transparent!important;
    border:none!IMPORTANT;
    box-shadow:none!important;
    color:var(--orange)!important;
    font-size:1rem!important;
    padding: 0!important;
    min-width: fit-content!important;
    margin-left: .7rem;
    font-family: var(--regularFont)!important;
    min-height: unset!important;
}
html:not(.designer) .IntroSection{
    height:100vh;
    display: flex;
}
html:not(.designer) .video-container{
    background-image:url("https://frontenduiux.github.io/OBB_ETenders/Images/Registration%20Background.png");
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    height: 100%;
    width: 50%;
}
html:not(.designer) .form-wrapper{
    width: 50%;
}
html:not(.designer) .video-container .intro{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: -webkit-fill-available;
    padding:2rem;
}
html:not(.designer) .video-container .intro h2{
    color:white;
    width: 90%;
    font-family: var(--regularFont);
}
html:not(.designer) [name="RegistrationLowerSection"] [name="QuestionLabel"]{
      font-family:var(--regularFont);
    font-size:1rem;
}
span#f26272d5-f664-befc-2ead-d3513424ee2c{
    display:flex;
    align-items:center;
}
html:not(.designer) .theme-entry .form{
   padding:0;
}
[name="RegistrationLowerSection"]{
    margin-top:1rem;
}
body:not(.sidebarVisible) span#f1ca746c-ae93-27da-d92d-2c8290a9a154 {
    padding-bottom: 0;
}
a#b486c4ee-7712-23a8-8a4a-c4b2b22b690d_8778f609-6c4b-004e-7f89-80cc20e9fb9d{
    margin-bottom:1rem;
}
.filterContainer{
    padding:0 1.3rem;
}
body:not(.sidebarVisible) span#\35 2ba53b4-bcdc-519c-28c9-5844b8e63f76 {
    padding-top: 0;
}
a#\30 0000000-0000-0000-0000-000000000000_37b4955b-5f5f-98b1-ded0-b101dc7c3e21 {
    margin-bottom: 1rem;
}
@media(min-width:1600px){
    html:not(.designer) .theme-entry .panel>.panel-body .panel-body-wrapper{
        margin-top: 3vw!important;
    }
    .grid-content-cell-wrapper{
        font-size:1vw!important;
    }
    html:not(.designer) body.sidebarVisible{
    margin-left: 15rem!important;
    width: calc(100vw - 17rem)!important;
    padding: 0 1rem;
}
    html:not(.designer) .video-container .intro{
        padding:2vw;
    }
	html:not(.designer) .video-container .intro h2{
    width: 66%;
}
    [name="RegistrationLowerSection"]{
    margin-top:1vw;
}
}
html:not(.designer) [name="LoginButton"].SourceCode-Forms-Controls-Web-Button{
    background-color:transparent!important;
    color:var(--orange)!important;
}
@media(min-width:992px){
    html:not(.designer) body.sidebarVisible {
    margin-left: 15rem !important;
    width: calc(-15rem + 100vw) !important;
    padding: 0px 1rem;
}
}