html:not(.designer) body,
html:not(.designer) body .form{
    background-color:#F4F4F4!important;
}
html:not(.designer) [name="OBB_header"]{
    background-color:#ffffff;
}
div#eb3917e9-9fe9-47f0-fef0-e556b757401e_91a4b712-521d-ddb3-f674-480e5b1abe5a_Table {
    grid-auto-columns: auto;
}
[name*="service-lower-section"]{
    margin-top: 4rem;
}
[name*="service-name service-name-width"]{
    width:80%!important;
    background-color:transparent!important;
}
[name*="tile"]{
    padding:0!important;
    width:fit-content!important;
}
div#eb3917e9-9fe9-47f0-fef0-e556b757401e_91a4b712-521d-ddb3-f674-480e5b1abe5a_Table span{
    padding:0!important
}
html:not(.designer) [name*="HeaderTitleContainer"]{
    width:100%!important;
}
html:not(.designer) [name*="OBB_header"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 4rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
div#eb3917e9-9fe9-47f0-fef0-e556b757401e_91a4b712-521d-ddb3-f674-480e5b1abe5a_Table,
div#de0e3ed3-be19-14e4-b6a7-79b1e078ec73_0de9b0a2-11a0-4776-ac77-4e37d1e4367b_Table{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
    gap: 2rem;
}
@media(min-width:1600px){
    html:not(.designer) [name*="OBB_header"] {
    padding: 0 4vw !important;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
    height: 7vw;
}
    [name*="service-lower-section"]{
    margin-top: 16vw;
}
    html:not(.designer) body {
    padding: 1vw;
    margin-top: 6vw;
    height: calc(100% - 4vw);
    width: calc(100% - 0vw);
    margin-top:7vw!important;
}
}