.stsMain{
    display: flex;
    flex-wrap: wrap;
}
.stsLoginInPanel{
    background-color: white!important;
}
input::placeholder{
    font-style:normal!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus 
{
    border-top-color: #f2f2f2 !important;
    -webkit-text-fill-color: #37474f;
    -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset;
    transition: background-color 5000s ease-in-out 0s;
}
@font-face {
    font-family:"Co Headline" ;
    src: url("https://frontenduiux.github.io/OBB_Services/fonts/Co%20Headline.otf");
}
	html,body{
		font-family:"Co Headline";
	}
html
{
    font-size:62.5%;
    background-color:white!important;
}

html body 
{
    font-size: 1.1rem;
    background-color: white!important;
}

.stsMainLogo
{
    top:0px;
    position: absolute;
    margin-left: -35px;
    left: 50%;
    z-index: 3000;
    background-repeat: no-repeat;
}

.stsLoginInPanel
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f2f2f2;
    font-family: "Open-Sans", "Segoe UI Regular", "Helvetica", "Sans-serif";
}

.stsLoginInPanel input[type=text]::-ms-clear,
.stsLoginInPanel input::-ms-reveal
{
    display: none;
}

.stsLoginInPanel a,
.stsLoginInPanel input
{
    outline: none;
}


.stsLoginInPanel .stsHeader
{
    flex-shrink: 0;
    height: 34px;
    background-color: #003870;
}

.stsLoginInPanel .stsMain
{
    flex: 1;
    overflow: auto;
}
.layout-table
{
    display:table;
    height: 100%;
    width:100%;
}

.layout-table-row
{
    display:table-row;
}

.layout-table-cell
{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.layout-table-cell-alignment
{
    display:inline-block;
}
.stsLoginInPanel .stsMain .stsLoginDetails
{
    width: 100%;
}

.stsLoginInPanel .stsLoginUserName,
.stsLoginInPanel .stsPassword
{
    position:relative;
}

.stsLoginInPanel .stsFooter 
{
    flex-shrink: 0;
    background-color: #e2e5e5;
    height: 34px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stsLoginDetails .input-control 
{
    color: #37474f;
    font-family: inherit;
    font-style: normal;
    background-color: transparent;
    box-sizing: border-box;
    min-height: 24px;
    width: 100%;
    font-size: 1.2rem;
    padding: 0px;
    padding-bottom: 4px;
    border: 1px solid transparent;
    border-bottom-color: rgba(55, 71, 79, 0.5);
    border-left-width: 0px;
    border-right-width: 0px;
    height: 3rem!important;
}

.stsLoginDetails .validation-error
{
    font-family: inherit;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    color:rgba(183, 28, 28, 0.5);
}

.input-control-watermark
{
    display:none;
}

.legacyIE .input-control-watermark
{
    display:block;
    color: #9ca3ac;
    font-style: italic;
    font-size: 1.2rem;
    padding-left: 0px;
    padding-right: 0px;
}

.input-control::placeholder
{
    color: #9ca3ac;
    font-style: italic;
    opacity: 1;
}

.input-control:-ms-input-placeholder
{ 
    color: #9ca3ac;
    font-style: italic;
}

.input-control::-ms-input-placeholder
{
    color: #9ca3ac;
    font-style: italic;
}

.stsLoginDetails .input-control:focus 
{
    border-bottom-color: rgba(33,150,243, 0.8);
}

.stsLoginDetails .input-control.invalid
{
    border-bottom-color: rgba(183, 28, 28, 0.5);
}

.stsLoginUserNamePlaceHolder
{
    height: 56px;
}

.stsPasswordPlaceHolder
{
    min-height: 40px;
    max-height: 100px;
    padding-bottom: 10px;
}

.stsRememberMePlaceHolder
{
    height: 100px;
    display: none;
}

.stsSignInButton
{
    text-align: center;
}

.stsSignInButton .button 
{
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    color: #FFFFFF;
    display: inline-block;
    background-color: #2196f3;
    background-clip: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    float: none;
    border-color: transparent;
    border-style: solid;
    border-width: 1.2px;
    box-shadow: none;
}

.stsSignInButton .button:hover
{
    background-color: #29b6f6;
}

.stsSignInButton .button:focus
{
    border-color: #1b7ecd;
    border-style: solid;
    border-width: 1.2px;
}

.stsSignInButton .button:focus:hover
{
    background-color: #29b6f6;
    border-color: #1b7ecd;
}

.stsSignInButton .button.disabled,
.stsSignInButton .button.disabled:hover,
.stsSignInButton .button.disabled:focus,
.stsSignInButton .button.disabled:focus:hover
{
    color: #f0f0f1;
    background-color:#bfc1c2;
    border-color: transparent;
    pointer-events: none;
}

.stsFooter .PageHelpLink > a
{
    font-size: 1.4rem;
    display: block;
    opacity: 0.7;
    color: rgba(33, 150, 243, 0.8);
    text-decoration: none;
    padding: 4px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-image: url("Platinum2/images/Icons/DesignerLogin/LearnMore24.png");
    background-position: 4px center;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
}

.stsFooter .PageHelpLink > a:hover
{
    opacity: 1;
    color: rgba(33, 150, 243, 1);
}

.stsFooter .PageHelpLink > a:focus 
{
    border-color: #2196f3;
}

.stsSignInButton .button.loading
{
    pointer-events: none;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    color: transparent;
}

.preload-icon
{
    display: none;
}
.passwordToggle,.passwordToggle:hover{
    content: "" !important;
    background-image: url(https://frontenduiux.github.io/OBB_ETenders/Images/eye-show.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: transparent!important;
    border:none;
    top: 50%;
    transform:translateY(-50%);
    right: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    min-width: fit-content;
}
.passwordToggle.hidePassword{
   content: "" !important;
    background-image: url(https://frontenduiux.github.io/OBB_ETenders/Images/eye-hide.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
@media(min-width: 992px){
    html:not(.designer) .video-container{
        height: 100vh!important;
    }
}
@media (min-width:1600px) {
    .validation-error {
            font-size: 1vw!important;
        }
    .passwordToggle{
   
    right: 1vw;
    height: 1.7vw;
    width: 1.7vw;

}
  html:not(.designer)  .banner-text {
            
        font-size: 1vw;
        margin-bottom: .4vw;

    }
   html:not(.designer)  .internal-user-banner {

    border-bottom-left-radius: 1vw;
    padding: .4vw 1vw;
   
}
html:not(.designer) .internal-user-banner img{
        width: 2.25vw!important;
    height: 2.25vw!important;
    margin-right:.5vw!important;
}
    html:not(.designer) .loginTitle{
        font-size: 2.5vw !important;
    }
    html:not(.designer) p.description{
        font-size:1vw;
        margin-bottom:4vw;
    }
    html:not(.designer) label.inputLabel{
        font-size: 1vw !important;
        margin-bottom:.5vw;
    }
    html:not(.designer) input[type="text"],
    html:not(.designer) input[type="password"] {
    font-size: 1vw !important;
    border-radius: .5vw !important;
    padding: .4vw 1vw !important;
    min-height: 3vw !important;
    height: 3vw !important;
    margin-bottom: 1vw;
}
html:not(.designer) .ContinueLoginContainer button,
    html:not(.designer) .ContinueLoginContainer a{
    padding: .8vw 3vw;
    border-radius: .5vw;
    font-size: 1vw;
}
html:not(.designer) .bottomSection .SignUpOptions .OptionCard {
    padding: .8vw;
    border-radius: 1vw;
    gap: 1vw;
}
html:not(.designer) .bottomSection .SignUpOptions .OptionCard .option-corner .option-text .title {
    font-size: 1.2vw;
    margin-top: .4vw;
}
html:not(.designer) .bottomSection .SignUpOptions .OptionCard .option-corner .option-text .subtitle {
    font-size: 0.85vw;
}
html:not(.designer) .option-corner img{
    width: 3.4375vw!important;
    height: 3.4375vw!important;
}
html:not(.designer) .signup-content > span {
    font-size: .95vw;
    padding-bottom: .3125vw;
    padding-left: .5vw;
}
html:not(.designer) .bottomSection .SignUpOptions .OptionCard .action-btn-container .signup-btn .signup-content{
    gap:.8vw;
}
html:not(.designer) .action-btn-container svg{
    height:2vw;
    width:2vw;
}
html:not(.designer) .forgotPasswordPopup {
    width: 49vw;
    height: 39vw;
    border-radius: 2vw;

}
html:not(.designer) .forgotPasswordPopup .popupHeader {
    padding: 1vw 2vw;

}
html:not(.designer) .bottomSection button {
    width: 2.4vw;
    margin-left: 2.4vw;
    font-size: 1vw;

}
html:not(.designer) .forgotPasswordPopup .popupHeader h3{
    font-size:1.17vw;
}
html:not(.designer) .forgotPasswordContainer a, html:not(.designer) .forgotPasswordContainer span{
    font-size:.9vw!important;
}
html:not(.designer) .bottomSection .SignUpOptions .OptionCard .action-btn-container .signup-btn {
    padding: .5vw .8vw !important;
    border-radius: 2vw;
}
html:not(.designer) .logo svg{
    width:11vw;
    height:auto;
}
html:not(.designer) .video-container .intro h2 {
    font-size: 2vw!important;
    margin-bottom: .5vw !important;
}
html:not(.designer) .bottomSection .SignUpHeading .text {
    font-size: 1vw!important;

}
html:not(.designer) .video-container .intro{
    padding:2vw!important;
}
}