:root{
    --black:#000000;
    --white:#ffffff;
    --aqua:#00A8B5;
    --orange:#E57431;
    --description:#3E3E3E;
    --borderColor:#E3E3E3;
    --regularFont:"Co Headline";
    --transition:all .3s ease-in-out;
}
html.no-border-box-support body{
	margin:0!important;
}
@font-face {
    font-family:"Co Headline" ;
    src: url("https://frontenduiux.github.io/OBB_Services/fonts/Co%20Headline.otf");
}
/* PADDINGS */
/* PADDING 1rem - top, bottom, left, right */
[name*="pt-1"]{
	padding-top:1rem!important;
}
[name*="pb-1"]{
	padding-bottom:1rem!important;
}
[name*="pl-1"]{
	padding-left:1rem!important;
}
[name*="pr-1"]{
	padding-right:1rem!important;
}
/* PADDING 2rem - top, bottom, left, right */
[name*="pt-2"]{
	padding-top:2rem!important;
}
[name*="pb-2"]{
	padding-bottom:2rem!important;
}
[name*="pl-2"]{
	padding-left:2rem!important;
}
[name*="pr-2"]{
	padding-right:2rem!important;
}
/* PADDING 3rem - top, bottom, left, right */
[name*="pt-3"]{
	padding-top:3rem!important;
}
[name*="pb-3"]{
	padding-bottom:3rem!important;
}
[name*="pl-3"]{
	padding-left:3rem!important;
}
[name*="pr-3"]{
	padding-right:3rem!important;
}
/* PADDING 4rem - top, bottom, left, right */
[name*="pt-4"]{
	padding-top:4rem!important;
}
[name*="pb-4"]{
	padding-bottom:4rem!important;
}
[name*="pl-4"]{
	padding-left:4rem!important;
}
[name*="pr-4"]{
	padding-right:4rem!important;
}
/* MARGINS */
/* MARGIN 1rem - top, bottom, left, right */
[name*="mt-1"]{
	margin-top:1rem!important;
}
[name*="mb-1"]{
	margin-bottom:1rem!important;
}
[name*="ml-1"]{
	margin-left:1rem!important;
}
[name*="mr-1"]{
	margin-right:1rem!important;
}
/* MARGIN 1.6rem - top, bottom, left, right */
[name*="mt-16"]{
	margin-top:1.6rem!important;
}
[name*="mb-16"]{
	margin-bottom:1.6rem!important;
}
[name*="ml-16"]{
	margin-left:1.6rem!important;
}
[name*="mr-16"]{
	margin-right:1.6rem!important;
}
/* MARGIN 2rem - top, bottom, left, right */
[name*="mt-2"]{
	margin-top:2rem!important;
}
[name*="mb-2"]{
	margin-bottom:2rem!important;
}
[name*="ml-2"]{
	margin-left:2rem!important;
}
[name*="mr-2"]{
	margin-right:2rem!important;
}
/* MARGIN 3rem - top, bottom, left, right */
[name*="mt-3"]{
	margin-top:3rem!important;
}
[name*="mb-3"]{
	margin-bottom:3rem!important;
}
[name*="ml-3"]{
	margin-left:3rem!important;
}
[name*="mr-3"]{
	margin-right:3rem!important;
}
/* MARGIN 4rem - top, bottom, left, right */
[name*="mt-4"]{
	margin-top:4rem!important;
}
[name*="mb-4"]{
	margin-bottom:4rem!important;
}
[name*="ml-4"]{
	margin-left:4rem!important;
}
[name*="mr-4"]{
	margin-right:4rem!important;
}
/* MARGIN auto - top, bottom, left, right */
[name*="mt-auto"]{
	margin-top:auto!important;
}
[name*="mb-auto"]{
	margin-bottom:auto!important;
}
[name*="ml-auto"]{
	margin-left:auto!important;
}
[name*="mr-auto"]{
	margin-right:auto!important;
}
[name*="m-auto"]{
	margin:auto!important;
}
/* DISPLAYS */
[name*="d-flex"]{
	display:flex!important;
}
[name*="d-none"]{
	display:none!important;
}
[name*="d-block"]{
	display:block!important;
}
html:not(.Designer) .active[name="btnOutgoing"]:focus .button-text,
html:not(.Designer) .active[name="btnIncoming"]:focus .button-text{
	color:var(--aqua)!important;
}
html:not(.designer) .SourceCodeFormsControlsWorklist{
	border-radius:1rem!important;
	overflow:hidden;
}
html:not(.designer) [name="UserName"]{
	font-size: 1rem;
}
html:not(.designer) div#d0e5951c-04b1-41f6-8482-bbb98c34e8cc_4d2cd33e-2345-417c-9d62-5b2ab67d9e55_a78c6f88-5c20-8a61-b557-643873abfd8f_1eb89a2d-3c0d-45b9-92bb-874012efeb68 {
    margin-top: -1rem;
}
html:not(.designer) [name*="OBB_link"]{
	font-size:.9rem;
	font-family:var(--regularFont);
	margin-left:.5rem;
}
html:not(.designer) [name="OBB_header"]{
	background-color:#F2F2F6;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	z-index: 3;
	height: 4rem;
	padding: 1rem!important;
}
html:not(.designer) [name*= "p-0"]{
	padding:0!important;
}
html:not(.designer) [name*= "pb-0"]{
	padding-bottom:0!important;
}
html:not(.designer) [name*= "pt-0"]{
	padding-top:0!important;
}
html:not(.designer) .dropdown-box .input-control-m-c{
	display: flex;
	align-items:center;
}
html:not(.designer) .sidebarVisible [name="OBB_header"]{
	left: 15rem;
	width: calc(100vw - 17rem);
}
html:not(.designer) [name="OBB_header"] > div{
	display:flex!important;
	align-items:center;
	justify-content:space-between;
	width:100%;
}
html:not(.designer) [name="HeaderTitleContainer"]{
width:80%;}
html:not(.designer) [name="HeaderTitleContainer"] [name="HeaderTitle"]{
	font-size: 1.7rem;
	font-family:var(--regularFont);
	color:black;
}
html:not(.designer) [name="HeaderDescriptionContainer"] [name="HeaderDescription"]{
	font-size:1rem;
	color:var(--description);
	font-family:var(--regularFont);
}
.button.help{
	display:none;
}
.sidebar .nav-link{
	color:white;
	transition:var(--transition);
}
html:not(.designer) .page-title{
	font-size: 2rem;
    font-family: var(--regularFont);
    color: black;
}
html:not(.designer) header{
	background-color:#F2F2F6;
	position:fixed;
	top:0;
	left:20rem;
	width:calc(100% - 20rem);
}
html:not(.designer){
    font-size:12px!important;
}
html:not(.designer) body{
    margin:0;
    padding: 1rem;
    font-family: var(--regularFont);
    background-color: white;
    margin-top: 6rem;
    height: calc(100% - 4rem);
    width: calc(100% - 0rem);
}
html:not(.designer) tr.selected [src="https://WIN-0Q5T2PALBOF/Runtime/Style/eye.png"]{
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(183deg) brightness(99%) contrast(91%);
}
html:not(.designer) .theme-entry.sidebarAvailable{
	left: 19rem;
	width: calc(100%  - 19rem);
	padding: 0 1rem;
	position: relative;
}
html:not(.designer) .runtime-content{
    margin:0!important;
}
html:not(.designer) [name*="OBB_asterik"]{
    color:var(--aqua)!important;
}
html:not(.designer) [name*="OBB_label"]{
    color:var(--black)!important;
    font-size:1rem!important;
    font-family: var(--regularFont);
}
html:not(.designer) [name="SignUpButton"]{
    background-color:var(--orange)!important;
    border:none!important;
    box-shadow:none!important;
    font-family: var(--regularFont);
    color: white!important;
    min-height: unset;
    height: unset;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
}
html:not(.designer) .panel-body{
    background-color:transparent!important;
    box-shadow:none!important;
}
html:not(.designer) [name*="OBB_textbox"],
.filterTxt .input-control-m-c{
    border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
    width: 100%;
    min-height: 3rem!important;
    height: 3rem!important;
}
html:not(.designer) [name*="OBB_textarea"]{
	  border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
    width: 100%;
}

html:not(.designer) .input-control.text-input .input-control-m-c{
	border:none!important
}
html:not(.designer) .readonly[name*="OBB_textbox"],
html:not(.designer) .empty[name*="OBB_textbox"],
html:not(.designer) .disabled[name*="OBB_textbox"],
.ui-lookupbox-disabled,
.input-control.select-box.read-only .input-control-m-c,
.read-only textarea{
	background-color:#f7f7f7!important;
}
.input-control.select-box.read-only  .input-control-buttons{
display:none;
}
html:not(.designer) [name*="OBB_dropdown"] .select-box,
html:not(.designer) .select-box[name*="OBB_calendar"],
html:not(.designer) .input-control.select-box.lookup-box.picker-input.double-buttons,
.searchDdl .select-box{
    border:1px solid var(--borderColor)!important;
    border-radius:.5rem!important;
    height:2.9rem;
    min-height:2.9rem;
    overflow: hidden;
}
html:not(.designer) .input-control.text-input.control-group-container .input-control-m-c{
	border:1px solid var(--borderColor)!important;
    border-radius:.5rem;
	height:3.2rem;
	min-height:3.2rem;
}
html:not(.designer) [name*="OBB_dropdown"] .select-box .input-control-m-c,
html:not(.designer) [name*="OBB_dropdown"] .select-box  .input-control-buttons,
html:not(.designer) .select-box[name*="OBB_calendar"] .input-control-m-c,
html:not(.designer) .select-box[name*="OBB_calendar"]  .input-control-buttons,
.input-control.select-box.lookup-box.picker-input.double-buttons .input-control-m-c,
.input-control.select-box.lookup-box.picker-input.double-buttons .input-control-buttons,
.searchDdl .select-box .input-control-m-c,
.searchDdl .select-box .input-control-buttons{
    border:none!important;
}
html:not(.designer) .select-box[name*="OBB_calendar"] *,
[name*="OBB_textbox"],[name*="OBB_textarea"] ,textarea,
.input-control-watermark,
[name*="OBB_dropdown"] *{
	font-family:var(--regularFont);
	font-size:1rem!important;
}
.filterLabel{
	font-size:1rem;
}
.searchDdl .select-box{
	margin-top:.5rem;
	margin-bottom:.5rem;
}
.tooltip.validation{
	font-size: .8rem;
	color: #ff6a6a!important;
	background-color: white!important;
	padding: 0.8rem 1rem;
	text-wrap: nowrap;
	height: fit-content;
	border-radius: 0.7rem!important;
	border: 1px solid #d3d3d3!important;
	width: fit-content;
}
.tooltip.validation span{
	line-height: 1.6;
	display: block;
	text-wrap: auto;
}
.tooltip.validation .tooltip-pointer,
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
 border-color:transparent!important;
 background: none!important;
}
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
  width: 0px;
  height: 0px;
  border-bottom: solid 10px #d3d3d3!important;
  border-left: solid 10px transparent!important;
  border-right: solid 10px transparent!important;
  top: 0.2rem;
}
.theme-entry .day {
    font-size: 1rem;
    height: 2.5rem!important;
    width: 2.5rem!important;
    text-align: center!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.calendar-row .dayname{
	height:2.5rem!important;
	width:2.5rem!important;
	margin-bottom:1rem;
}
.theme-entry .popup.id-calendar-control-popup {
    width: 18rem !important;
    height: auto!important;
}
.theme-entry .top-calendar a.today-title {
    border: none;
    border-radius: 0;
    margin-top: 1rem;
    padding: 0;
}
.theme-entry .top-calendar a {
    margin-top: 1rem;
    background-repeat: no-repeat;
    height: 1rem;
}
.theme-entry .week{
display:flex;
}
.theme-entry .today-text{
	padding-top:1rem;
	padding-bottom:1rem;
}
.datepicker.invalid{
	border: 1px solid var(--input-error-border-color) !important;
	background-color: #f8e8e8!important;
}
.theme-entry .invalid .input-control-watermark *{
	background-color:transparent!important;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 11rem;
    padding: 2rem;
    z-index: 1;
    height: 100vh;
    background-image: url("https://frontenduiux.github.io/OBB_Services/Images/Registration%20Background.png");
    background-size: cover;
    background-position: top;
}
.navbarBrand a{width: 9rem;display: block;margin: auto;}
.navbarBrand a img{
	height:100%;
	width:100%;
	object-fit:contain;
}
.sidebar .topic{
	margin-top:4rem;
	margin-bottom:2rem;
	text-transform:uppercase;
	color:#FDFDFD;
	opacity: .8;
	font-weight:300;
	font-family: var(--regularFont);
	letter-spacing: 0.23rem;
}
.sidebar .nav-link{
	display:block;
	margin-bottom:1rem;
	text-decoration:none;
	opacity:0.9;
	position:relative;
}
.sidebar .nav-link .icon{
	height: 1.5rem;
	widtH: 1.5rem;
	margin-right: 1rem;
}
.sidebar .nav-link .nav-link-text{
	color:#ffffff;
}
.sidebar .nav-link.has-children::after{
	content:"";
	background-image:url("https://frontenduiux.github.io/OBB_Services/Images/chevronDown.svg");
	height: 1rem;
	width:1rem;
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	position:absolute;
	right:0;
	top: 50%;
	transform: translateY(-50%);
	transition:var(--transition);
}
.sidebar .nav-link.has-children.expanded::after{
	transform: translateY(-50%) rotate(180deg);
}
.sidebar .sidebar-submenu {
	padding:0 1rem 1rem;
	display:flex;
	flex-direction:column;
	border-bottom:1px solid rgb(255 255 255 / 30%);
	margin-bottom:1rem;
}
.sidebar .sidebar-submenu .sidebar-link.sub-link{
	font-size:1rem;
	text-decoration:none;
	color:white;
	width:100%;
	margin: 0rem 0 .5rem;
}
html:not(.designer) [name*="OBB_Collapse"]{
	border:1px solid #E8E8E8;
	border-radius:1rem!important;
	overflow:hidden;
	margin-bottom: 1rem;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-header .panel-header-c .panel-header-wrapper,
html:not(.designer) [name*="OBB_Collapse"] .grid-header  .grid-header-wrapper{
	border-bottom:1px solid #E8E8E8;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-header{
	height: 5rem;
	background-color:transparent;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-header .panel-header-c .panel-header-wrapper,
html:not(.designer) [name*="OBB_Collapse"] .grid-header  .grid-header-wrapper{
	padding:1rem 2rem;
	background-color:white;
	width: calc(100% - 4rem);
	height:100%;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-header .panel-header-c .panel-header-wrapper .panel-header-text,
html:not(.designer) [name*="OBB_Collapse"] .grid-header  .grid-header-wrapper .grid-header-text{
	font-size: 1.6rem;
	font-family:var(--regularFont);
	padding: 0;
	height: unset;
	min-height: unset;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-header .panel-header-c .panel-header-wrapper .panel-header-text > span,
html:not(.designer) [name*="OBB_Collapse"] .grid-header  .grid-header-wrapper .grid-header-text> span{
	min-height: 3rem;
}
html:not(.designer) [name*="OBB_Collapse"] .panel-body{
	padding: 1rem 2rem;
}
td#\38 045da8e-fbf6-2785-88ce-9edf65552682,
td#c2b54e05-058a-e4e8-00d1-406cf875ab16,
td#\37 dbd9ea0-a3af-08f8-cd42-1be157d6274d,
td#eb4aa284-91ee-abc7-1932-9e5f938473b7{
    width: fit-content;
    margin-left: auto;
    display: block;
}
html:not(.designer) [name*="OBB_button"],
html:not(.designer) .SourceCode-Forms-Controls-Web-Button{
	border-radius:.5rem;
	/* margin-left: 1rem; */
	border:none;
	transition:var(--transition);
	font-family:var(--regularFont);
}
html:not(.designer) [name*="OBB_button OBB_primary_button"],
html:not(.designer) .SourceCode-Forms-Controls-Web-Button{
	background-color:var(--orange)!important;
	color:white!important;
}
html:not(.designer) [name*="paddingTop"]{
	padding-top:1rem !important;
}
html:not(.designer) [name*="paddingBottom"]{
	padding-bottom:1rem!important;
}
html:not(.designer) [name*="marginTop"]{
	margin-top:1rem !important;
}
html:not(.designer) [name*="marginBottom"]{
	margin-bottom:1rem!important;
}
html:not(.designer) [name="RFQTenderCreation_Button  OBB_button OBB_primary_button"]{
	margin:0;
}
html:not(.designer) .SourceCode-Forms-Controls-Web-Button[name*="OBB_button OBB_secondary_button"]{
	color:var(--orange)!important;
	border:1px solid var(--orange);
	background-color:white!important;
}
html:not(.designer) .theme-entry .input-control.style-aware.radio  span{
	height:unset!important;
	font-size:1rem;
	font-family:var(--regularFont);
}
html:not(.designer) [name*="OBB_WorkList"]{
	border-radius:1rem!important;
	border:1px solid var(--borderColor);
}
html:not(.designer) [name*="OBB_WorkList"] .SourceCodeFormsControlsWorklist{
	border:none!important;
}
.theme-entry span.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry h1.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry h2.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry h3.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry h4.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry label.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry p.SourceCode-Forms-Controls-Web-Label.disabled, 
.theme-entry span.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry h1.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry h2.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry h3.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry h4.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry label.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry p.SourceCode-Forms-Controls-Web-DataLabel.disabled, 
.theme-entry span.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry h1.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry h2.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry h3.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry h4.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry label.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry p.SourceCode-Forms-Controls-Web-Label.preview, 
.theme-entry span.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry h1.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry h2.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry h3.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry h4.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry label.SourceCode-Forms-Controls-Web-DataLabel.preview, 
.theme-entry p.SourceCode-Forms-Controls-Web-DataLabel.preview,
.theme-entry .input-control.disabled, 
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.disabled, 
.theme-entry .textbox-style-wrapper.disabled, 
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.preview, 
.theme-entry .textbox-style-wrapper.preview, 
.theme-entry .SFC.SourceCode-Forms-Controls-Web-RadioButton.preview{
	opacity:1;
}
.ui-lookupbox-disabled .input-control-buttons {
	display:none!important;
}
.empty-grid .grid-content-cell-wrapper{
	margin: 1rem auto;
	font-size: 1rem;
	font-family: var(--regularFont);
}
.theme-entry .grid .grid-footer .toolbars a.toolbar-button,
.theme-entry .grid .grid-footer  .toolbar-wrapper{
	display:flex;
	align-items:center;
	justify-content:center;
}
.styling-font{
	font-size:1rem;
	font-family:var(--regularFont);
}
.input-control.style-aware.radio svg{
	height: 1.4rem!important;
}
.theme-entry .stack-container .stack div.multi-select-box-list-item label.input-control .input-control-text{
	max-width:fit-content!important;
	white-space:nowrap!important;
}
.theme-entry .stack-container .stack div.multi-select-box-list-item label.input-control{
	width:fit-content!important;
	display: flex;
	align-items: center;
}
[name*= "OBB_checkbox"] {
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    padding-top: 3.5rem !important;
}
[name*="Button marginBottom"]{
	margin-bottom:1rem;
}
[name*= "OBB_checkbox noPadding"] {
    padding-top: 0rem !important;
}
[name*= "OBB_checkbox"] *{
	font-family:var(--regularFont);
	font-size: 1rem!important;
}
[name*= "OBB_Collapse marginTop PaddingTop"]{
	padding-top:1rem!important;
}
tr.selected .runtime-list-item,
tr.selected .runtime-list-item-wrap{
	color:white!important;
}
/* POPUP BRANDING START */
html:not(.designer) .theme-entry .message-box-content,
html:not(.designer) .theme-entry .dialog .popup-body{
    height: fit-content;
}
html:not(.designer) .theme-entry .popup-header,
html:not(.designer) .theme-entry .popup-body,
html:not(.designer) .theme-entry .popup-footer{
position:relative!important;
top:unset!important;
bottom:unset!important;
left:unset!important;
right:unset!important;
width:100%;
height:fit-content!important;
}
html:not(.designer) .theme-entry .popup-header{
    padding:1rem 2rem;
    background-color:#f7f7f7;
}
html:not(.designer) .theme-entry .popup-body{
padding:1rem 2rem 0;
border-bottom:none!important
}
html:not(.designer) .theme-entry .popup-footer{
    padding:0rem 2rem 1rem;
    border-top:none!important;
}
html:not(.designer) .popup.dialog{
    height:fit-content!important;
    border-radius:1rem!important;
    overflow:hidden;
}
html:not(.designer) .popup.dialog .popup-header .popup-header-text{
    font-size:1.4rem;
}
html:not(.designer) .theme-entry .message-box-content.error:before{
    background-image:url("https://frontenduiux.github.io/OBB_Services/Images/error.svg");
    background-size:3rem;
    background-repeat:no-repeat;
    background-position:center;
}
/* POPUP BRANDING END */
/* OBB SERVICES START */
.SFC[name*="OBB_Service"]{
	height:14rem;
	width:14rem;
	border-radius:1rem;
	cursor: pointer;
	background-color:#f1f1f1;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	transition:all .3s ease-in-out;
}
[name*="OBB_Service"]:hover{
background-color:#00a9b550;;
}
[name*="OBB_ServiceIcon"]{
	width:4rem!important;
	height:auto!important;
	position:relative!important;
	border-radius: 0;
	display: block;
	background-color: transparent!important;
}
[name*="OBB_ServiceIcon"] img{
	height:100%!important;
	width:100%!important;
	object-fit:contain;
}
[name*="OBB_Service"] [name*="OBB_ServiceName"]{
	display: block;
	width:80%!important;
	position:relative!important;
	margin:auto;
	text-align:center!important;
	height: unset;
	border-radius: inherit;
	background: transparent;
}
/* OBB SERVICES END */
/* TABLE BRANDING START */
html:not(.designer) .theme-entry .grid table.grid-column-header-table td{
	background-color: transparent!important;
	border-right: 1px solid rgb(220 220 220 / 80%);
	cursor: pointer;
}
html:not(.designer) .theme-entry td span.runtime-list-item{
	font-family: var(--regularFont)!important;
	font-weight: 300!important;
	padding: 1.3rem 1.3rem!important;
}
html:not(.designer) .theme-entry .grid table.grid-column-header-table td:last-child{
	border:none!important;
}
html:not(.designer) .theme-entry table.grid-column-header-table {
    border-bottom: 1px solid rgb(220 220 220 / 80%);
   /* border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    background-color:transparent!important;
}
html:not(.designer) .theme-entry  .grid-column-headers{
background-color:transparent!important;
}
html:not(.designer) .theme-entry .grid .grid-column-header-text{
	font-family:var(--regularFont);
}
html:not(.designer) .theme-entry .grid .grid-column-header-cell{
	padding:1rem 1.4rem;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr{
	background-color: transparent;
	padding:1rem 0!important;
}
html:not(.designer) .theme-entry .grid table.grid-content-table.zebra-stripes tr:nth-child(even){
	background-color:#F2F2F6!important;
}
html:not(.designer) .grid-body{
	margin: 1rem!important;
	width: calc(100% - 2rem);
	border: 1px solid rgb(220 220 220 / 80%)!important;
	border-radius: 2rem;
}
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Saved"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Submitted"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Rejected"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Open"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Approve"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Completed"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Waiting RM Approval"],
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Waiting Return"]{
	display:flex;
	align-items:center;
	justify-content:center;
	vertical-align:middle;
	height: 4.4rem!important;
}
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Saved"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Submitted"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Rejected"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Open"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Approve"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Completed"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Waiting RM Approval"] >span.runtime-list-item,
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Waiting Return"] >span.runtime-list-item{
	border-radius:2rem;
	min-height:unset!important;
	height:unset!important;
	line-height:unset!important;
	padding: 0.6rem 2rem!important;
	width:fit-content!important;
}
.grid-content-cell-wrapper[title="Saved"] >span.runtime-list-item,
.grid-content-cell-wrapper[title="Completed"] >span.runtime-list-item{
	background-color:#DCFCE7;
	color:#17A34A!important;
}
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Submitted"] >span.runtime-list-item{
	background-color:#ECEEF8;
	color:#3F51B5!important;
	padding: 0.6rem 1.2rem!important;
}
html:not(.designer) .theme-entry  .grid-content-cell-wrapper[title="Rejected"] >span.runtime-list-item{
	background-color:#F4EBEE;
	color:#801533!important;
	padding: 0.6rem 1.2rem!important;
}
html:not(.designer) .theme-entry .grid-content-cell-wrapper[title="Waiting RM Approval"] >span{
	color:#FF9800!important;
	background-color:#FFF5E5!important;
	padding: 0.6rem 1.2rem!important;
}
html:not(.designer) .theme-entry .grid-content-cell-wrapper[title="Waiting Return"] >span{
	color:#D19D00!important;
	background-color:#FAF5E5!important;
	padding: 0.6rem 1.2rem!important;
}
html:not(.designer) .theme-entry .grid-content-cell-wrapper[title="Approve"] >span{
	color:#009688!important;
	background-color:#E5F4F3!important;
	padding: 0.6rem 1.2rem!important;
}
html:not(.designer) .theme-entry .grid-content-cell-wrapper[title="Open"] >span{
	color:#2196F3!important;
	background-color:#E9F4FE!important;
	padding: 0.6rem 1.2rem!important;
}
tr.selected img[src="https://ck2-app-tst-1.obc.local/Runtime/Style/eye.png"]{
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(89deg) brightness(103%) contrast(101%);
}
/* TABLE BRANDING END */
@media(min-width:1600px){
.sidebar {
    width: 12vw;
    padding: 2vw;
}
html:not(.designer) body.sidebarVisible {
    margin-left: 16vw !important;
    width: calc(100vw - 17vw) !important;
    padding: 1vw;
}
html:not(.designer) .sidebarVisible [name="OBB_header"] {
    left: 16vw;
    width: calc(100vw - 17vw);
}
.navbarBrand a{
	width: 9vw;
}
}
html:not(.designer) .theme-entry .toolbars.double .toolbar table td{
	height:unset!important;
}
html:not(.designer) .theme-entry a.toolbar-button[name*="toolbarButton"]{
	min-height:unset!important;
	line-height:unset!important;
}
html:not(.designer) [name*="toolbarButton"] .button-c,
html:not(.designer) [name*="toolbarButton"] .button-c .button-text{
 padding:0!important;
}